Añadir Comentario: <p>
<form method="post" action="/quizes/<%=quizid%>/comments">
	<label for="coment" class="rem">Comentario:</label>
	<input type="text" id="coment" name="comment[texto]" placeholder="Escribe un comentario" /> <p>
	<a href="/quizes"><button type="button">Cancelar</button></a>
	<input type="submit" value="Guardar">
</form>