<h1><%= message %></h1>
<% if (message==="Tiempo de inactividad superado"){ %>
	<a href="/login">Logearse de nuevo</a>
<% }else { %>
	<h2><%= error.status %></h2>
	<pre><%= error.stack %></pre>
<% } %>
