	<label for="tema" class="rem">Tema:</label>
	<select name="quiz[tema]" id="tema">
		<%
	       for( var i in temas ) {
                var text = temas[ i ];
                var selected = "";
                if ( quiz.tema === text ) {
                      selected = "selected";
                }
        %>
        <option value="<%= text %>" <%= selected %>><%= text %></option>
        <%
            }
        %>
	</select><p>
	<label for="preg" class="rem">Pregunta:</label>