<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: Ej juego de las preguntas</h2>
      <p><%=Respuesta %></p>
      <p><a href="/quizes/question">Volver a intentarlo</a></p>
  </body>
</html>
