<p><font  color=<%= color %>><h1><%= Respuesta %></h1></font></p>
<p>
   <% if(Respuesta==="Incorrecto"){ %>
	<a href="/quizes/<%= quiz.id%>">Volver a Intentarlo</a>
   <% } %>
	<a href="/quizes?search=">Otra pregunta</a>
</p>
