<table>
	<th>
		<form action="/quizes"+search method="get">
		<input type="text" name="search" placeholder="Texto a buscar"></input>
		<input type="submit" value="Buscar">
		</form>
	</th>

<% var i; for(i=0; i<quizes.length; i++) { %>
<tr><td><a href="quizes/<%=quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>

<% } %>
	<tr><th>
		<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
 	</th></tr>

</table>
 
