<form method="get" action="/quizes/answer">
  <p>Responde a la siguinete pregunta:</p></br>
  <%= pregunta %>
  <input type="text" name="respuesta" placeholder="responda aqui"/>
  <input type="submit" value="Enviar">
</form>
