<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p>Responde a la siguinete pregunta:</p></br>
  <%= quiz.pregunta %>
  <input type="text" name="respuesta" placeholder="responda aqui"/>
  <input type="submit" value="Enviar">
</form>
